<section class="about-section">
    <div class="glass-card">
        <h1>About us</h1>
        <p>
            Hey Coders! In this project, our group attempted to create a Single-Page Application (SPA) 
            for the acclaimed series Rick and Morty. No frameworks were used, and the work was completed 
            in under 10 hours—in fact, I'm writing this at 12:51 AM. But that's not what we're interested in. 
            We want this "About Me" section to be as long as possible so we can add some nice styling to the page.
        </p>
    </div>
    
</section>
